.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vertical-offset  { margin-top: 2px; }
.vertical-offset-1 { margin-top: 5px; }
.vertical-offset-2 { margin-top: 10px; }
.vertical-offset-3 { margin-top: 15px; }
.vertical-offset-4 { margin-top: 30px; }
.vertical-offset-5 { margin-top: 40px; }
.vertical-offset-6 { margin-top: 60px; }
.vertical-offset-7 { margin-top: 80px; }
.vertical-offset-8 { margin-top: 100px; }
.vertical-offset-9 { margin-top: 150px; }